.MessageText p {
  margin: 0 0 12px 0;
  padding: 8px 6px;
  font-size: 14px;
  border-top: 2px solid #aeaea9;
  border-bottom: 2px solid #aeaea9;
}

.MessageText .Default {
  background: #eee;
}

.MessageText .Right {
  color: #4f8a10;
  background: #dff2bf;
}

.MessageText .Wrong {
  color: #d8000c;
  background: #ffd2d2;
}

.MessageText span {
  font-weight: bold;
}