.Header {
  position: relative;
  border-bottom: 2px solid #aeaea9;
}

.Title {
  margin: 0;
  padding: 4px 6px;
  text-align: center;
  font-size: 16px;
}

.ToggleButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 2px solid #aeaea9;
}

.ToggleButton button {
  height: 100%;
  padding: 0 12px;
  border-radius: 0;
}

.NextButton {
  margin: 10px;
}

.NextButton button {
  padding: 8px 18px;
}